/*
#  Copyright 2019, Jared Sagendorf, All rights reserved.
#  
#  Correspondance can be sent by e-mail to Jared Sagendorf <sagendor@usc.edu>
#  
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.
#  
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
*/
body {
    position: relative;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


.code {
    font-family: "Courier New", Courier, monospace;
}

#flowchart {
    float: right;
    margin: 20px 20px 20px 20px;
    height: 800px;
}



@media (max-width: 768px) {
    #flowchart {
        float: none;  /* Removes floating for smaller screens */
        display: block;
        margin: 0 auto 20px auto; /* Centers the image on mobile */
        width: 100%;  /* Ensures the image takes up the full width on mobile */
        height: auto; /* Maintains the aspect ratio */
    }
}

p {
    text-align: justify;
}

#side_nav .active {
    background-color: #020e20;
    border-bottom-color: #020e20;
    border-top-color: #020e20;
}

.table-responsive {
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
}

.table-responsive .table {
    width: 100%; /* Ensures the table takes full width of the container */
    table-layout: auto; /* Adjust table layout for responsiveness */
}

/* Optional: Adjust table fonts and spacing for mobile */
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;
        padding: 8px;
    }
}

