/* General navbar styling */
.modern-navbar {
    background-color: #000000; /* Example color */
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.modern-navbar .navbar-brand img {
    height: auto;
    width: auto;
    max-height: 60px;
}

/* Navbar links */
.modern-navbar .nav-link {
    color: #FFFFFF !important;
    transition: color 0.2s;
}

.modern-navbar .nav-link:hover,
.modern-navbar .nav-link:focus {
    color: #CCCCCC !important;
}

/* Navbar toggler */
.modern-navbar .navbar-toggler {
    border-color: rgba(255,255,255,0.1);
}

.modern-navbar .navbar-toggler-icon {
    /* Custom icon color */
}

/* Search input */
.modern-navbar .form-control {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
}

.modern-navbar .form-control::placeholder {
    color: #BBBBBB;
}

.modern-navbar .form-control:focus {
    background-color: rgba(255,255,255,0.2);
    color: #FFFFFF;
}

/* Search button */
.modern-navbar .btn-outline-success {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
}

.modern-navbar .btn-outline-success:hover,
.modern-navbar .btn-outline-success:focus {
    color: #007BFF;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

#nav_download {
    margin-right: 20px; /* Adjust the value to get the desired spacing */
}


